.page{
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100vw;
    align-items: center;
    justify-content: center;

    .title_container{
        display: flex;
        align-items: center;
        gap: 2rem;
        border: 2px solid rgb(14, 191, 38);
        width: fit-content;
        padding: 20px 10px;
        text-align: center;
        justify-content: center;
        
        .title{
            color: rgb(14, 191, 38);
            font-size: 2rem;
            font-family: 'Rubik', sans-serif;
        }

        .logo{
            color: rgb(14, 191, 38);
            font-size: 2rem;  
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 0.8rem;

        .label{
            color: rgb(14, 191, 38);
            font-size: 1.5rem;
            font-family: 'Rubik', sans-serif;
            
        }
        .sublabel{
            color: rgba(0, 0, 0, 0.545);
            font-size: 0.8rem;
            font-family: 'Rubik', sans-serif;
            padding-bottom: 1rem;
            width: 600px;
        }
    }

    .link_container{
        display: flex;
        align-items: center;
        justify-content: center;

        .link{
            color: rgb(14, 191, 38);
            font-size: 1rem;
            font-family: 'Rubik', sans-serif;  
            padding: 20px 20px; 
        }
    }
    @media screen and (max-width: 600px) {
        .title_container{
            display: flex;
            align-items: center;
            border: 2px solid rgb(14, 191, 38);
            width: fit-content;
            padding: 10px 6px;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            
            .title{
                color: rgb(14, 191, 38);
                font-size: 1.3rem;
                font-family: 'Rubik', sans-serif;
            }
    
            .logo{
                color: rgb(14, 191, 38);
                font-size: 1.5rem;  
            }
        }

        .form{
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 0.8rem;
    
            .label{
                color: rgb(14, 191, 38);
                font-size: 1.2rem;
                font-family: 'Rubik', sans-serif;
                
            }
            .sublabel{
                color: rgba(0, 0, 0, 0.545);
                font-size: 0.8rem;
                font-family: 'Rubik', sans-serif;
                padding-bottom: 1rem;
                width: 250px;
            }
        }

    }
}