.page{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    align-items: center;
    justify-content: center;

    .instagram_container{
        display: flex;
        align-items: center;
        border: 2px solid rgb(234, 26, 82);
        width: fit-content;
        padding: 20px 10px;
        text-align: center;
        justify-content: center;
        
        .instagram_title{
            color: rgb(234, 26, 82);
            font-size: 2rem;
            font-family: 'Rubik', sans-serif;
        }

        .instagram_logo{
            color: rgb(234, 26, 82);
            font-size: 2rem;  
        }
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        gap: 0.8rem;

        .instagram_label{
            color: rgb(234, 26, 82);
            font-size: 1.5rem;
            font-family: 'Rubik', sans-serif;
            
        }
        .instagram_sublabel{
            color: rgba(0, 0, 0, 0.545);
            font-size: 0.8rem;
            font-family: 'Rubik', sans-serif;
            padding-bottom: 1rem;
            width: 600px;
        }
    }

    .link_container{
        display: flex;
        align-items: center;
        justify-content: center;

        .instagram_link{
            color: rgb(234, 26, 82);
            font-size: 1rem;
            font-family: 'Rubik', sans-serif; 
            padding: 20px 20px; 
        }
    }

    @media screen and (max-width: 600px) {
        .instagram_container{
            display: flex;
            align-items: center;
            border: 2px solid rgb(234, 26, 82);
            width: fit-content;
            padding: 10px 6px;
            text-align: center;
            justify-content: center;
            margin: 0 auto;
            
            .instagram_title{
                color: rgb(234, 26, 82);
                font-size: 1.3rem;
                font-family: 'Rubik', sans-serif;
            }
    
            .instagram_logo{
                color: rgb(234, 26, 82);
                font-size: 1.5rem;  
            }
        }
        .form{
            display: flex;
            flex-direction: column;
            width: 60%;
            gap: 0.8rem;
    
            .instagram_label{
                color: rgb(234, 26, 82);
                font-size: 1.2rem;
                font-family: 'Rubik', sans-serif;
                
            }
            .instagram_sublabel{
                color: rgba(0, 0, 0, 0.545);
                font-size: 0.8rem;
                font-family: 'Rubik', sans-serif;
                padding-bottom: 1rem;
                width: 250px;
            }
        }

    }
}