.custom-button{
    max-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 8px 0 8px;
    font-size: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    border: 1px solid rgb(0, 255, 149);
    cursor: pointer;
    transition: 200ms ease-in-out;
  
    &:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border: 1px solid rgb(12, 255, 150);
    }

}